@import url(//fonts.googleapis.com/css?family=Lato);
*{
	font-family: Lato;
	font-weight: normal;
	line-height: normal;
}
.container{
  width: 470px;
  height: 400px;
  background-color: #FFFFFF;
  border: 1px solid #BDBDBD;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.message{
  width: 430px;
	font-style: medium;
	font-size: 18px;
}
.lower{
	width: 430px;
	height: 150px;
  padding: 5px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}
.image{
    width: 120px;
    height: 135px;
    background-color: yellow;
}
.bio-container{
  width: 270px;
  height: 140px;
  display: flex;
  flex-direction: column;
}
.name{
	font-family: Lato;
	font-style: Bold;
	font-size: 18px;
  margin: 0px 0px 5px 10px;
}
.major{
  color: #909090;
  font-style: Black;
	font-size: 14px;
  margin: 0px 0px 5px 10px;
}
.bio-title{
  color: #FEDB55;
  font-style: Bold;
	font-size: 9px;
  margin: 0px 0px 5px 10px;
}
.bio{
  font-style: Medium;
	font-size: 14px;
  margin: 0px 0px 0px 10px;
}